<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/cpt/home">Home</a></td>
        <td><a href="{{site.baseurl}}/cpt/db-a">DB</a></td>
        <td><a href="{{site.baseurl}}/cpt/view">View</a></td>
        <td><a href="{{site.baseurl}}/cpt/api">API</a></td>
        <td><a href="{{site.baseurl}}/cpt/sass">Style</a></td>
        <td><a href="{{site.baseurl}}/cpt/jwt">JWT</a></td>        
        <td><a href="{{site.baseurl}}/cpt/animate">Animate</a></td>
        <td><a href="https://jm1021.github.io/alienWorld/blogs/">Game</a></td>
    </tr>
</table>