<nav class="navbar" style = "display: flex;
justify-content: space-between;
align-items: center;
background-color: #333; /* Change the background color as needed */
padding: 10px;">
    <ul stye = "
        list-style: none;
        display: flex; ">
        <li style = "margin-right: 20px;"><img src="{{site.baseurl}}/images/logo.png" height="60" title="Frontend" alt=""></li>
        <li style = "margin-right: 20px;><a href="{{site.baseurl}}/navigation/csse">CSSE</a></li>
        <li style = "margin-right: 20px;><a href="{{site.baseurl}}/navigation/csp">CSP</a></li>
        <li style = "margin-right: 20px;><a href="{{site.baseurl}}/navigation/csa">CSA</a></li>
        <li style = "margin-right: 20px;><a href="{{site.baseurl}}/navigation/game">Game</a></li>
    </ul>
</nav>



